{
  "genres": {
    "adv": "Aventura Gráfica"
  },
  "games": [
    {
      "id": "monkey",
      "name": "MONKEY",
      "genre": "adv",
      "year": "1990",
      "bundle": "https://pub-13140bd15eda49b4a3f35bc937ab1c58.r2.dev/projects/dosvault/monkey.jsdos"
    },

    {
      "id": "kq1sci",
      "name": "KINGSQUEST",
      "genre": "adv",
      "year": "1990",
      "engine": "scummvm",
      "bundle": "https://pub-13140bd15eda49b4a3f35bc937ab1c58.r2.dev/projects/dosvault/scummvm/kq1sci.zip"
    }
  ]
}
